<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed"
        data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
        aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <span class="navbar-brand bordered_logo">
        <img src="/assets/img/angularclass-avatar20x28.png" alt="Logo" />
      </span>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <!--<ul class="nav navbar-nav">-->
        <!--<li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>-->
        <!--<li><a href="#">Link</a></li>-->
        <!--<li class="dropdown">-->
        <!--<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>-->
        <!--<ul class="dropdown-menu">-->
          <!--<li><a href="#">Action</a></li>-->
          <!--<li><a href="#">Another action</a></li>-->
          <!--<li><a href="#">Something else here</a></li>-->
          <!--<li role="separator" class="divider"></li>-->
          <!--<li><a href="#">Separated link</a></li>-->
          <!--<li role="separator" class="divider"></li>-->
          <!--<li><a href="#">One more separated link</a></li>-->
        <!--</ul>-->
        <!--</li>-->
      <!--</ul>-->

      <!--<form class="navbar-form navbar-left" role="search">-->
        <!--<div class="form-group">-->
          <!--<input type="text" class="form-control" placeholder="Search">-->
        <!--</div>-->
        <!--<button type="submit" class="btn btn-default">Submit</button>-->
      <!--</form>-->

      <ul class="nav navbar-nav navbar-right">
        <!--<li><span><strong>{{ user.login }}</strong></span></li>-->
        <li><a href="#" onClick="return false;" (click)="logout()">Log out</a></li>
        <!--<li class="dropdown">-->
          <!--<a href="#" class="dropdown-toggle" data-toggle="dropdown"-->
            <!--role="button" aria-haspopup="true"-->
            <!--aria-expanded="false">Dropdown <span class="caret"></span></a>-->
          <!--<ul class="dropdown-menu">-->
            <!--<li><a href="#">Edit user info</a></li>-->
            <!--<li><a href="#" (click)="logout()">Log out</a></li>-->
          <!--</ul>-->
        <!--</li>-->
      </ul>
    </div><!-- /navbar-collapse -->
  </div><!-- /container-fluid -->
</nav>

