
@import '../../../node_modules/bootstrap/less/bootstrap.less';
@import '../../../node_modules/bootstrap/less/theme.less';

html, body, .container {
  min-height: 100% !important;
  height: 100%;
}

.shadowed_normal {
  -webkit-box-shadow: 0px 0px 15px -2px rgba(0,0,0,0.58);
  -moz-box-shadow: 0px 0px 15px -2px rgba(0,0,0,0.58);
  box-shadow: 0px 0px 15px -2px rgba(0,0,0,0.58);
}

.border_allaround {
  border: 1px solid #000;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
}

.loading_img {
  margin: 10px 0;
}

.loading_main_img {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -32px;
  margin-left: -32px;
}

.container {
  padding: 20px 0;
  padding-top: 80px;
}

.container_dummy {
  background: url('../img/angularclass-avatar.png') 50% 50% no-repeat;
  background-size: 60%;
}

.nav_users {
  text-align: left;
  margin-top: 5px;
}

.menu_wrapper {
  padding: 10px;
  padding-top: 40px;
  margin-bottom: 40px;
  .shadowed_normal;
  .border_allaround;
  text-align: center;
  position: relative;
}

.menu_wrapper_top {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 40px;
  background-color: @valid_color;
  -webkit-border-top-left-radius: 4px;
  -webkit-border-top-right-radius: 4px;
  -moz-border-top-left-radius: 4px;
  -moz-border-top-right-radius: 4px;
}

.menu_wrapper_top_title {
  margin-top: 7px;
  font-weight: bold;
}

@valid_color: #42A948; /* green */
@invalid_color: #A94442; /* red */

.ng-valid[required] {
  border-right: 3px solid @valid_color;
}

.ng-invalid {
  border-right: 3px solid @invalid_color;
}

.form-inline .form-group {
  margin-right: 5px;
}

.label_error {
  color: @invalid_color;
}

/*.menu_link_uncomplete {
  border-top: 1px solid @invalid_color;
  .ng-invalid;
}*/

#login_modal.closed {
  display: none;
}

#login_modal.opened {
  display: block;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1031; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  /*margin: 15% auto;*/ /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 400px;
  /* Fixed styles and animation */
  position: fixed;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
  filter: alpha(opacity=20);
  -moz-opacity: 0.2;
  -khtml-opacity: 0.2;
  top: -400px;
  margin-top: -130px;
  left: 50%;
  margin-left: -200px;
  /* Animation */
  -webkit-transition-property: top, opacity;
  -moz-transition-property: top, opacity;
  -o-transition-property: top, opacity;
  transition-property: top, opacity;
  -webkit-transition-duration: .4s, .1s;
  -moz-transition-duration: .4s, .1s;
  -o-transition-duration: .4s, .1s;
  transition-duration: .4s, .1s;
  -webkit-transition-timing-function: ease-in, linear;
  -moz-transition-timing-function: ease-in, linear;
  -o-transition-timing-function: ease-in, linear;
  transition-timing-function: ease-in, linear;
}

  .modal-content.opened {
    top: 50%;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    -moz-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1;
  }

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.input-group {
  width: 100%;
}

.input_label_icon_box {
  background-size: 70%;
  background-repeat: no-repeat;
  background-position: 50%;
  width: 35px;
}

.login_label_img {
  .input_label_icon_box;
  background-image: url('../img/login-icon32x32.png');
}

.passw_label_img {
  .input_label_icon_box;
  background-image: url('../img/key-icon32x32.png');
}

